.ax-side-menu {
  list-style-type: none;
  padding-inline-start: 15px;
}
.ax-side-menu-item {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.ax-side-menu-item-icon {
  color: #777;
  flex-grow: 1;
}

.menu-item-expand {
  color: #777;
  flex-grow: 1;
  cursor: pointer;
  font-size: 12px;
  margin-top: 3px;
}

.menu-item-expand :hover {
  background-color: #dcdcdc;
}
.menu-item-title {
  font-size: 11px;
  color: #777;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 3px 0 0 15px;
  flex-grow: 18;
}

.menu-items {
  width: 90%;
  padding: 10px;
  overflow: hidden;
  display: flex;
  color: #777;
}

.menu-items-collapsed {
  width: 0;
  display: none;
}

.menu-item-child-title {
  font-size: 11px;
  padding: 4px 0 0 10px;
}
