.layout {
  min-height: 85vh;
  overflow: hidden;
}

.sider {
  position: relative;
}

.sider-header {
  position: relative;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 16px;
}

.sider-header.collapsed {
  justify-content: center;
}

.system-name {
  font-size: 12px;
  font-weight: bold;
  color: #696969;
  flex: 1;
}

.collapse-button {
  cursor: pointer;
  font-size: 18px;
}

.collapse-button.collapsed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  padding: 20px 20px 0 20px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}
