.header {
  /* width: 100vw; */
  height: 50px;
  background-color: #2d3e50;
  padding: 10px;
  -moz-box-shadow: 0 5px 5px #333;
  -webkit-box-shadow: 0 5px 5px #333;
  box-shadow: 0 5px 5px #333;
}

.header-box {
  line-height: 30px;
}

.right-content {
  text-align: right;
  direction: rtl;
}
.header-btn {
  margin-right: 5px;
}
.org {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.org-box {
  font-size: 12px;
  align-items: center;
  border-right: 1px solid #dedede;
  padding-right: 10px;
}
.org-box div {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.org-box span,
.org div {
  display: flex;
  align-items: center;
}

.org-title {
  padding-left: 10px;
}

.sys-title {
  padding-left: 10px;
  padding-bottom: 3px;
}

.sys-expand {
  padding-left: 5px;
  font-size: 10px;
  padding-top: 5px;
}
.sys-menu {
  cursor: pointer;
}
.user-profile {
  cursor: pointer;
}
