:where(.css-dev-only-do-not-override-nqoqt9).ant-card-type-inner
  .ant-card-body {
  padding: 10px;
}

.auth-list-item:not(:last-child) {
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
}
.auth-list-item :hover {
  background-color: #d9d9d9;
}
